@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}
.grid-item {
  background-color: #5f4ca9;
  border: rgb(36, 31, 50) solid 3px;
  border-radius: 20%;
  color: rgb(231, 232, 234);
  font-size: 20px;
  width: 20vh;
  height: 20vh;
  text-align: center;
}